<header class="g-header">
    <div class="g-logo">
      <a href="{{ "/" | relative_url }}"></a>
    </div>
    <i id="menu-toggle" class="iconfont icon-menu"></i>
    <nav class="g-nav">
        <ul>
            {% for i in site.nav %}
            <li><a href="{{ i[1] | relative_url}}">{{ i[0] }}</a></li>
            {% endfor %}
            <li class="nav-search">
                <a href="/search.html" title="搜索">
                    <i class="iconfont icon-search"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>
